html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 21, 21);
}
canvas {
  display: block;
}

main {
  display: block;
}

centered {
  text-align: centered;
  align-items: center;
  font-size: 20pt;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#wordle {
  width: 300px; /* Example width, adjust as needed */
  height: auto; /* Example height, adjust as needed */
  background-color: #f0f0f0; /* Optional for visibility */
  text-align: center; /* Centers inline content within the div */
}
